<!-- Top Navigation  -->
  <section class="navigation"> 
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-fixed-top navbar-custom barra">
          <div class="container-fluid">
            <div class="row">
            <div data-scroll-header class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="//s3.amazonaws.com/keithfrazier/KeithFrazier.jpg" class="img-responsive center-block"/></a>
            </div>

            <div class="collapse navbar-collapse" id="nav">
                
                <ul class="nav navbar-nav navbar-right">                
                    <li><a  href="#">Luxury Rentals</a></li>
                    <li><a  href="#">No-Fee Rentals</a></li>
                    <li><a  href="#">Residential Sales</a></li>
                    <li><a  href="#">Featured Listings</a></li>
                    <li><a  href="#">List With Me</a></li>
                    <li><a  href="#about">About</a></li>
                    <li><a  href="#contact">Contact</a></li>
                </ul>
            </div>
            </div>
          </div>
        </nav>
      </div>
    </div> 
  </section>

<!-- SLIDE  -->
  <section class="slide-image">
    <div class="box-person">
      <img src="//s3.amazonaws.com/keithfrazier/keith-frazier.png"/>
    </div>
  </section>

<!-- BACKGROUND VIDEO OPTIONS  -->

<!--  
<video width="100%" height="auto" poster="//s3.amazonaws.com/keithfrazier/KeithFrazier.jpg" controls autoplay loop>
  <source src="assets/Keenability_Beach_1.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<iframe src="https://player.vimeo.com/video/78961286" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<div style="height:750px; position:relative">
<iframe width="100%" height="100%" src="//www.youtube.com/embed/qUJYqhKZrwA?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
<img style="top:-24px; right:0px; position:absolute; z-index:9" src="//s3.amazonaws.com/keithfrazier/keith-frazier.png">
</div>
 -->

<!-- PHRASES  -->
  <section class="phrases">      
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>“I know New York City real estate like very few do. and that's how I get results.”</h2>
          <h2>Keith Frazier</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3 class="text-center"><span class="keithborder">Why Keith?</span></h2>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Knowledgeable</h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Experienced</h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Closer</h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Reputable</h4>
        </div>
      </div>
    </div>
  </section>

<!-- CIRCLE MENU   -->
  <section class="circle-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-box grow">
          <a href="#"><img class="img-responsive img-circle" src="//s3.amazonaws.com/keithfrazier/circle01.png"/>
          <h5>Luxury rentals</h5></a>
        </div>
        <div class="col-box grow"> 
          <a href="#"><img class="img-responsive img-circle" src="//s3.amazonaws.com/keithfrazier/circle02.png"/>
          <h5>No fee Rentals</h5></a>
        </div>
        <div class="col-box grow">
          <a href="#"><img class="img-responsive img-circle" src="//s3.amazonaws.com/keithfrazier/circle03.png"/>
          <h5>residential Sales</h5></a>
        </div>
        <div class="col-box grow fourth">
          <a href="#"><img class="img-responsive img-circle" src="//s3.amazonaws.com/keithfrazier/circle04.png"/>
          <h5>Featured Listings</h5></a>
        </div>
        <div class="col-box grow">
          <a href="#"><img class="img-responsive img-circle" src="//s3.amazonaws.com/keithfrazier/circle05.png"/>
          <h5>List with me</h5></a>
        </div>
      </div>
      <div class="row">
        <div id="contactme" class="col-sm-12">
          <h2 class="text-center"><a href="#contact"><span class="contactborder">Contact me</span></a></h2>
        </div>
      </div>
    </div>
  </section>

<!-- ABOUT    -->
  <section id="about" class="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <h3 class="mb30">About</h3>
          <p>A New Yorker to his core, Keith Frazier was born and raised in Flatbush, Brooklyn. After a childhood spent admiring the diverse real estate New York City has to offer, Keith knew he wanted to jump right into the industry at the age of 18. He got his start selling Florida swamp land to developers while attending Medgar Evers College. From there, he began making his own investments in Bed Stuy and Ditmas Park. In a move that would further expand his range of expertise, Keith headed his own brokerage firm, Frazier’s Realty, for 17 years. <br><br>Today, Keith is a top producer at EXR NY and founder of Nymble, a real estate search tool that has taken apartment hunting completely online. With nearly 30 years in the industry, Keith has built an immense network of connections, which has provided him access to a large range of inventory and unique opportunities time and time again. He is widely regarded by clients and peers as an expert within the local sales and rental industry, largely due to the fact that his knowledge of the market is unsurpassed. Keith knows the streets of New York City, and he knows the properties even better.<br><br>When Keith isn’t busy earning his reputation as a master negotiator or formulating innovative closing solutions to help clients achieve their goals, you may just find him relaxing in the Caribbean. He loves to take trips to these beautiful islands with his wife and children. Keith also enjoys pursuing his passion for science fiction when he’s not assisting his many clients.</p>
        </div>
        <div class="col-md-5">
          <img class="img-responsive img-keith" src="//s3.amazonaws.com/keithfrazier/keith-frazier.png"/>
        </div>
      </div>
    </div>
  </section>


<!-- CONTACT    -->
  <section id="contact" class="contact-us">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h3 class="mb30">Contact Me</h3>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="col-md-2 control-label">Name*</label>
            <div class="col-md-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Email*</label>
            <div class="col-md-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Phone*</label>
            <div class="col-md-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Phone">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="col-md-2 control-label">Message</label>
            <div class="col-md-10">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button type="submit" class="btn btn-default btn-black">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- FOOTER    -->
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7">
          <img class="img-exr" src="//s3.amazonaws.com/keithfrazier/exr.png"/>
          <p>1109 Fulton Street <br>Brooklyn, NY 11238-8261 <br>kfrazier@exrny.com<br>O: 212 991 8893  |  M: 917 753 4315  |  F: 646 786 4557</p>
        </div>
        <div class="col-sm-5">
          <img class="img-kf" src="//s3.amazonaws.com/keithfrazier/kf.png"/>
          <ul class="list-inline first-nav-left">
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>