/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import "font-awesome";


/* ------------------------- Top Navigation --------------------------- */
.navigation {
   position: relative;
   background-color: #fff;
   padding: 0;
   width: 100%;
}
a.navbar-brand{
    width: 350px;
    height: auto;
    padding: 0;
    margin: 0 !important;
}
.navbar-nav {
    margin: 55px 15px 0;
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.navbar-nav > li > a {
  border-bottom: 5px solid transparent;
    color: #001a34 !important;
    font-size: 12px;
    font-weight: unset;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    padding: 0 0 5px 0;
    text-transform: uppercase;
    transition:all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    background-color: transparent;
    margin: 5px 8px;
}

.navbar-nav > li > a:hover {
    border-bottom: 5px solid #001a34;
    outline: none;
    background-color: transparent;
}
.top-nav-collapse {
  background-color: #032439;
}
.transicion{
  transition:all 0.5s ease-in;
  -webkit-transition:all 0.5s ease-in;
  -moz-transition:all 0.5s ease-in;
  -o-transition:all 0.5s ease-in;
}

.top-nav-collapse .navbar-nav {
  margin: 10px 15px;
}
.top-nav-collapse a.navbar-brand {
  font-size: 36px;
  margin: 10px 0 !important;
}
.minimo .navbar-nav, .minimo a.navbar-brand, .minimo .navbar-nav > li > a {
  color: #fff;
}
.navbar-toggle {
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.minimo .navbar-toggle {
  margin-top: 20px;
}

.navbar-custom {
  font-size:12px;
  border-radius:0;
  margin-bottom:0;
      position: relative;
}

.navbar-custom .navbar-nav > li > a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-toggle .icon-bar {
    background: #333;
}
.navbar-toggle { 
    margin-top: 28px;
}
.barra .nav>li {
    text-align: center;
}
@media only screen and (max-width: 1199px) {
  a.navbar-brand{
      width: 215px;
  }
  .navbar-nav {
      margin: 35px 15px 0;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-header {
      float: inherit;
      width: 250px;
      margin: 15px auto 0;
  }
  a.navbar-brand {
      margin: 0 auto;
      float: inherit;
  }
  .navbar-nav {
      margin: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-header {
      float: inherit;
      width: 100%;
      margin: 0;
  }
  a.navbar-brand {
      float: left;
  }
  .navbar-nav {
      margin: 15px;
  }
}

/* ------------------------ SLIDE --------------------------- */
.slide-image{
  background: url("//s3.amazonaws.com/keithfrazier/slide.jpg");
  background-size: cover;
  min-height: 700px;
  background-position: 50% 50%;
  position: relative;
}
.box-person{
  position: absolute;
  width: 530px;
  bottom: 0;
  right: 0;
}
.box-person img{
  width: 530px;
}

@media only screen and (max-width: 1199px) {
  .box-person{
    width: 473px;
  } 
  .box-person img{
    width: 473px;
  } 
}
@media only screen and (max-width: 768px) {
  .box-person img{
    display: none;
  } 
}

/* ------------------------ PHRASE --------------------------- */

.phrases {
  padding: 50px 0;
}
.phrases h1, .phrases h2, .phrases h3, .phrases h4{
  color: #516a7e;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 48px;
  text-align: right;
  font-style: italic;
  margin: 0;
  font-weight: 600;
}
.phrases h2{
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}
.keithborder{
    border-style: solid;
    border-width: 2px;
    padding: 7px 35px;
}
@media only screen and (max-width: 480px) {
  .keithborder {
    padding: 5px 12px;
  }
}
.phrases h3, .phrases h4{
  font-size: 35px;
  color: #00304a;
  text-align: left;
  margin: 45px 0 0;
  font-weight: 500;
}
.phrases h3 {
  text-align: center;
  background-color: #b55a36;
  padding: 17px;
  color: white;
  margin-bottom: 50px;
}
.phrases h4{
  font-size: 21px;
  font-style: normal;
  margin: 15px 0;
  &:hover{
    color: #b55a36;
  }
}
.phrases h4:before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #b55a36;
  display: inline-block;
  margin: 0 10px 0 15px;
  position: relative;
  top: 2px;
}
.phrases h4:hover:before{
  background-color:#00304a;
}

@media only screen and (max-width: 1199px) {
  .phrases h4{
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .phrases h1, .phrases h3{
      font-size: 32px;
      line-height: 42px;
      text-align: center;
  }
  .phrases h2 {
      font-size: 20px;
      text-align: center;
  }
  .phrases h4{ text-align: center; }

}


/* ------------------------ CIRCLE MENU --------------------------- */

.circle-menu{
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  padding: 70px 0;
}
.col-box {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 18%;
  margin: 0 1%;
  float: left;
}

.col-box img:hover{-webkit-filter: brightness(110%); }
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.15); }

.circle-menu h5{
  color: #00304a;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  margin: 15px 0;
  font-weight: 500;
  text-align: center;
}
.circle-menu h2 {
  color: white;
  background-color:#00304a;
  padding: 50px;
  margin: 90px 0px 30px 0px;
  font-size: 48px;
}
.contactborder{
    border-style: solid;
    border-width: 2px;
    padding: 15px 30px;
}

div#contactme a {
  color: white !important;
  &:hover {
    opacity: 0.7;
  }
}

#contactme {
  visibility: hidden;
}

.fadeIn {
  visibility: visible !important;
}

@media only screen and (max-width: 480px) {
  .circle-menu h2 {
    padding: 40px;
    font-size: 45px;
  }
  .contactborder {
    padding: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .col-box {
    width: 30%;
    margin: 0 0% 30px 2.5%;
  }
  .col-box.fourth{ margin: 0 1% 30px 17%; }
}
@media only screen and (max-width: 420px) {
  .col-box, .col-box.fourth {
    width: 80%;
    margin: 0 10% 30px;
  }
}

/* ------------------------ ABOUT --------------------------- */

.about {
  padding: 70px 0 0;
}
.about h3, .contact-us h3 {
  font-size: 22px;
  color: #001a34;
  text-align: left;
  margin: 0 0 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.about p {
  font-size: 16px;
  line-height: 26px;
  color: #001a34;
  text-align: left;
}
@media only screen and (max-width: 1199px) {
  .img-keith { margin-top: 200px; }
}
@media only screen and (max-width: 991px) {
  .about { padding: 70px 0; }
  
  .img-keith { display: none; }
}
/* ------------------------ CONTACT US --------------------------- */

.contact-us {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  padding: 70px 0;
}
.form-group {
    float: left;
    width: 100%;
}
input.form-control, textarea.form-control{
    background-color: #edf7fc;
    border: 1px solid #b55a36;
    border-radius: 0;
    box-shadow: none;
}
.form-group label {
    text-transform: uppercase;
    font-weight: 400;
}
.btn-black {
    color: #fff;
    background-color: #333;
    border-color: #333;
    padding: 8px 35px;
    text-transform: uppercase;
    &:hover {
    color: #fff;
    background-color: #151515;
    border-color: #151515;
  }
}



/* ------------------------ FOOTER --------------------------- */

footer {
  padding: 70px 0;
}
.img-exr {
  margin: 0 30px 0 0;
  width: 120px;
  float: left;
}
footer p {
    font-size: 14px;
    line-height: 24px;
    color: #00304a;
    text-align: left;
    margin: 30px 0 0;
}
.img-kf {
  margin: 0 30px 0 0;
  width: 120px;
  float: left;
}
ul.list-inline { margin: 40px 0 0; }

.list-inline > li {
    background: #003049;
    width: 36px;
    height: 36px;
    padding:0;
    margin: 0 10px 0 0;
    &:hover {
      background: #b55a36;
    }
}

.list-inline .fa {
    text-align: center;
    margin: 0 auto;
    display: block;
    line-height: 36px;
    color: #fff;
}
@media only screen and (max-width: 991px) {
  .img-exr, .img-kf { width: 100px; }
  
  footer p {
      padding: 0 0 0 110px;
      margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .img-exr, .img-kf {
      margin: 0 auto;
      width: 120px;
      float: inherit;
      display: block;
  }
  footer p {
    padding: 0;
    margin: 15px 0 30px;
    text-align: center;
  }
  ul.list-inline {
    margin: 10px auto 0;
    width: 146px;
  }
  .list-inline > li { margin: 5px 5px; }
}


/* ------------------------ HELP CLASES --------------------------- */

:target {
    display: block;    
    position: relative;     
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mb {
  margin-bottom: 15px;
}




